#home{
    padding-top: 10px;
    }
    img{
        height: 280px;
    }
    .card{
       padding-top: 0px;
        display: inline-flex;
        margin: 33px;
        margin-left: 43px;
        
    }
    .card-body{
        background-color: whitesmoke;
        text-align: center;
        color:fuchsia;
    }